/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(Wallpaper.jpg)
    ;height: 100px;
    width: 1300px;
 

}
.imgtecno.jpg{

height: 300px;
width: 350px;
background-image: url("imgtecno.jpg");


}imgtecno.jpg{

height: 300px;
width: 300px;
background-image: url("imgtecno.jpg2");
}