/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(Wallpaper.jpg)
    ;height: 100px;
    width: 1300px;
 

}

.titulo{

    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


.img1{
    height: 300px;
    width: 300px;
    background-image: url("imgtecno.jpg");
    background-repeat: no-repeat;

}
.img2{
height: 400px;
width: 500px;
background-image: url("imgtecno2.jpg");
 background-repeat: no-repeat;
}
.img3{
height: 1500px;
width: 1900px;
background-image: url(imgsociales.jpg);
background-repeat: no-repeat;

}