/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url(Wallpaper.jpg)
    ;height: 100px;
    width: 1300px;
 

}

.titulo{

    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


.img1{
    height: 300px;
    width: 300px;
    background-image: url("imgtecno.jpg");
    background-repeat: no-repeat;

}
.img2{
height: 400px;
width: 500px;
background-image: url("imgtecno2.jpg");
 background-repeat: no-repeat;
}
.img3{
height: 1500px;
width: 1900px;
background-image: url(imgsociales.jpg);
background-repeat: no-repeat;

}
.img4{
height: 1000px;
width: 1000px;
background-image: url(imgingles1.jpg);
background-repeat: no-repeat;
}
.img5{
height: 1000px;
width: 1000px;
background-image: url(imgingles2.jpg);
background-repeat: no-repeat;
}
.img6{
height: 1000px;
width: 1000px;
background-image: url(imgingles3.jpg);
background-repeat: no-repeat;
}
.img7{
height: 700px;
width: 700px;
background-image: url(actividadingles1.png);
background-repeat: no-repeat;

}
.img8{
height: 700px;
width: 700px;
background-image: url(actividadingles2.png);
background-repeat: no-repeat;
}
.img9{
height: 770px;
width: 700px;
background-image: url(actividadingles3.png);
background-repeat: no-repeat;
}
.img10{
height: 700px;
width: 700px;
background-image: url(actividadingles4.png);
background-repeat: no-repeat;
}
.img11{
height: 760px;
width: 700px;
background-image: url(actividadingles5.png);
background-repeat: no-repeat;

}
.img12{
height: 780px;
width: 700px;
background-image: url(actividadingles6.png);
background-repeat: no-repeat;
}
.img13{
height: 850px;
width: 700px;
background-image: url(actividadingles7.png);
background-repeat: no-repeat;


}
.img14{
height: 700px;
width: 700px;
background-image: url(actividadingles8.png);
background-repeat: no-repeat;

}
.img15{
height: 800px;
width: 700px;
background-image: url(Actividadingles9.png);
background-repeat: no-repeat;


}
.img16{
height: 800px;
width: 700px;
background-image: url(Actividadingles10.png);
background-repeat: no-repeat;

}
.img17{
height: 850px;
width: 700px;
background-image: url(Actividadingles11.png);
background-repeat: no-repeat;


}
.img18{
height: 700px;
width: 700px;
background-image: url(Actividadingles12.png);
background-repeat: no-repeat;

}











